h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
}
#show_student_list {
    font-weight: bold;
}
#sorting {
    display: none;
}
button {
    margin: 20px;
}